<style> .github-badge { display:inline-block; border-radius:4px; text-shadow:none; font-size:13px; color:#fff; line-height:15px; background-color:#ABBAC3; margin-bottom:5px; } .github-badge .badge-subject { display:inline-block; background-color:#4D4D4D; padding:4px 4px 4px 6px; border-top-left-radius:4px; border-bottom-left-radius:4px; } .github-badge .badge-value { display:inline-block; padding:4px 6px 4px 4px; border-top-right-radius:4px; border-bottom-right-radius:4px; } .github-badge .bg-brightgreen { background-color:#4DC820 !important; } .github-badge .bg-orange { background-color:#FFA500 !important; } .github-badge .bg-yellow { background-color:#D8B024 !important; } .github-badge .bg-blueviolet { background-color:#8833D7 !important; } .github-badge .bg-pink { background-color:#F26BAE !important; } .github-badge .bg-red { background-color:#e05d44 !important; } .github-badge .bg-blue { background-color:#007EC6 !important; } .github-badge .bg-lightgrey { background-color:#9F9F9F !important; } .github-badge .bg-grey, .github-badge .bg-gray { background-color:#555 !important; } .github-badge .bg-lightgrey, .github-badge .bg-lightgray { background-color:#9f9f9f !important; } </style>

<footer class="page-footer">
    <%if(theme.music.enable&&theme.music.fixed){ %>
        <%- partial('_widget/music') %>
    <% } %>
    <div class="container row center-align" style="margin-bottom: <% if (theme.time.enable) { %>15<% } else { %>0<% } %>px !important;">
        <div class="col s12 m8 l8 copy-right">
            <%if(theme.clustrmaps.enable){ %>
                <a href="" title="<%- theme.clustrmaps.url %>" style="float:left"><img src="<%- theme.clustrmaps.img %>"></a>
            <% } %>
            <%if(theme.github_badge.enable){ %>
            <div>
                <div class="github-badge">
                    <a style="color: #fff" rel="license" href="https://hexo.io/" target="_blank" title="由 Hexo 强力驱动"> <span
                        class="badge-subject">Powered</span><span class="badge-value bg-blue">Hexo</span></a>
                </div>
                <div class="github-badge"> <a style="color: #fff" rel="license" href="<%- theme.github_badge.Hosted.url %>" target="_blank"
                    title="<%- theme.github_badge.Hosted.title %>"> <span class="badge-subject">Hosted</span><span
                        class="badge-value bg-brightgreen"><%- theme.github_badge.Hosted.value %></span></a> </div>
                <div class="github-badge"> <a style="color: #fff" rel="license" href="<%- theme.github_badge.DNS.url %>" target="_blank"
                    title="<%- theme.github_badge.DNS.title %>"> <span class="badge-subject">DNS</span><span
                        class="badge-value bg-blueviolet"><%- theme.github_badge.DNS.value %></span></a> </div>
                <div class="github-badge"> <a style="color: #fff" rel="license" href="<%- theme.github_badge.CDN.url %>" target="_blank"
                    title="<%- theme.github_badge.CDN.title %>"> <span class="badge-subject">CDN</span><span
                        class="badge-value bg-orange"><%- theme.github_badge.CDN.value %></span></a> </div>
                <br>
                <div class="github-badge"> <a style="color: #fff" rel="license" href="https://blinkfox.github.io/" target="_blank"
                    title="站点主题"> <span class="badge-subject">Theme</span><span
                        class="badge-value bg-blue">Matery</span></a> </div>
                <div class="github-badge"> <a style="color: #fff" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
                    target="_blank" title="本站点许可协议"> <span class="badge-subject"><i
                            class="fa fa-copyright"></i></span><span class="badge-value bg-lightgrey">BY-NC-SA 4.0</span></a> </div>
                <div class="github-badge"> <a style="color: #fff" rel="license" href="https://996.icu/" target="_blank"
                    title="支持 996.ICU"> <span class="badge-subject">Link</span><span class="badge-value bg-red">996.ICU</span></a>
                </div>
            </div>
            <% } %>
            Copyright&nbsp;&copy;
            <% if (theme.time.year !== new Date().getFullYear()) { %>
                <span id="year"><%- theme.time.year %>-<%- new Date().getFullYear() %></span>
            <% } else { %>
                <span id="year"><%- theme.time.year %></span>
            <% } %>
            <span id="year"><%- theme.time.year %></span>
            <a href="<%- url_for('/about') %>" target="_blank"><%- config.author %></a>
            <br>
            <% if (theme.postInfo.totalCount) { %>
            &nbsp;<i class="fas fa-chart-area"></i>&nbsp;站点总字数:&nbsp;<span
                class="white-color"><%= totalcount(site) %></span>&nbsp;字
            <% } %>
            <% let socialClass = '' %>
            <% if (theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
            <% socialClass = 'social-statis' %>
            <% } %>
            <% if (theme.busuanziStatistics && theme.busuanziStatistics.totalTraffic) { %>
            <span id="busuanzi_site_pv">
                |&nbsp;<i class="far fa-eye"></i>&nbsp;总访问量:&nbsp;<span id="busuanzi_value_site_pv"
                    class="white-color"></span>&nbsp;次
            </span>
            <% } %>
            <% if (theme.busuanziStatistics && theme.busuanziStatistics.totalNumberOfvisitors) { %>
            <span id="busuanzi_site_uv">
                |&nbsp;<i class="fas fa-users"></i>&nbsp;总访问人数:&nbsp;<span id="busuanzi_value_site_uv"
                    class="white-color"></span>&nbsp;人
            </span>
            <% } %>
            <br>
            <% if (theme.time.enable) { %>
            <span id="sitetime">载入运行时间...</span>
            <script>
                function siteTime() {
                    var seconds = 1000;
                    var minutes = seconds * 60;
                    var hours = minutes * 60;
                    var days = hours * 24;
                    var years = days * 365;
                    var today = new Date();
                    var startYear = "<%- theme.time.year %>";
                    var startMonth = "<%- theme.time.month %>";
                    var startDate = "<%- theme.time.date %>";
                    var startHour = "<%- theme.time.hour %>";
                    var startMinute = "<%- theme.time.minute %>";
                    var startSecond = "<%- theme.time.second %>";
                    var todayYear = today.getFullYear();
                    var todayMonth = today.getMonth() + 1;
                    var todayDate = today.getDate();
                    var todayHour = today.getHours();
                    var todayMinute = today.getMinutes();
                    var todaySecond = today.getSeconds();
                    var t1 = Date.UTC(startYear, startMonth, startDate, startHour, startMinute, startSecond);
                    var t2 = Date.UTC(todayYear, todayMonth, todayDate, todayHour, todayMinute, todaySecond);
                    var diff = t2 - t1;
                    var diffYears = Math.floor(diff / years);
                    var diffDays = Math.floor((diff / days) - diffYears * 365);
                    var diffHours = Math.floor((diff - (diffYears * 365 + diffDays) * days) / hours);
                    var diffMinutes = Math.floor((diff - (diffYears * 365 + diffDays) * days - diffHours * hours) /
                        minutes);
                    var diffSeconds = Math.floor((diff - (diffYears * 365 + diffDays) * days - diffHours * hours -
                        diffMinutes * minutes) / seconds);
                    if (startYear == todayYear) {
                        document.getElementById("year").innerHTML = todayYear;
                        document.getElementById("sitetime").innerHTML = "本站已安全运行 " + diffDays + " 天 " + diffHours +
                            " 小时 " + diffMinutes + " 分钟 " + diffSeconds + " 秒";
                    } else {
                        document.getElementById("year").innerHTML = startYear + " - " + todayYear;
                        document.getElementById("sitetime").innerHTML = "本站已安全运行 " + diffYears + " 年 " + diffDays +
                            " 天 " + diffHours + " 小时 " + diffMinutes + " 分钟 " + diffSeconds + " 秒";
                    }
                }
                setInterval(siteTime, 1000);
            </script>
            <% } %>
            <br>
            <% if (theme.icp.enable) { %>
            <span id="icp"><img src="<%- theme.jsDelivr.url %><%- url_for('/medias/icp.png') %>" style="vertical-align: text-bottom;" />
                <a href="<%- url_for(theme.icp.url) %>" target="_blank"><%= theme.icp.text %></a>
            </span>
            <% } %>
        </div>
        <div class="col s12 m4 l4 social-link <%- socialClass %>"><%- partial('_partial/social-link') %></div>
    </div>
</footer>

<div class="progress-bar"></div>
<% if (theme.mermaid.enable) { %>
  <script src='https://unpkg.com/mermaid@<%- theme.mermaid.version %>/dist/mermaid.min.js'></script>
  <script>
    if (window.mermaid) {
      mermaid.initialize(<%- JSON.stringify(theme.mermaid.options) %>);
    }
  </script>
<% } %>